/* Centered User Popout (mr_miner's snippet helped with this) */
.headerTop-3GPUSF, .rolesList-3uZoaa, .headerTextNormal-2mGWX3, .customStatus-oN4ZZY, .aboutMeTitle-3pjiS7,
.text-3j8t_e > *,.nameTag-2Nlmsy > * {
  display: flex;
  justify-content: center;
  text-align: center;
}
.avatarWrapperNormal-ahVUaC {
  position: absolute;
  left: 33%;
}
.avatar-3QF_VA {
  position:absolute;
  left:30%;
}
.avatar-3QF_VA {
  position:absolute;
  left:38%;
}
.profileBadges-2pItdR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  transform: translateY(-8px);
  position: absolute;
  transform: translate(-250px);
}
.badgeList-2aoHPw {
  display:flex;
  flex-direction:column;
  max-height:200px;
  transform:translate(-150px);
}
.tabBarContainer-sCZC4w {
  align-items:center;
  display:flex;
  justify-content:center;
}
.userPopout-xaxa6l .input-cIJ7To, .userInfoSection-2u2hir > *, .aboutMeSection-PUghFQ, .customStatus-kFfkj5, .bodyTitle-2Az3VQ, .textarea-_59yqs, .marginBottom8-AtZOdT.size14-e6ZScH{
  text-align: center;
}

/*hover memberlist*/
.membersWrap-3NUR2t {min-width: unset;}
.members-3WRCEx {max-width: 65px;min-width: 65px;transition: 0.4s ease;}
.members-3WRCEx:hover {max-width: 240px;min-width: 240px;}
div:not(:hover)>.members-3WRCEx>div {padding-top: 10px;}


/* #css-snippet CSS Store */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/storeCSS.css);


/* Rounded Context Menu */
.menu-1QACrS, .colorDefault-CDqZdO { 
    border-radius: 15px; 
}


/*widescreen settings*/
.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
    justify-content: unset;
    flex: unset
}
.contentColumn-1C7as6, .customColumn-2n-oKU, .hero-1aNo0v {
    max-width: unset;
}
.accountProfileCard-lbN7n- {
    max-width: 750px;
}
.notificationSettings-1U0JsJ {
    max-width: 45%;
}


/*hide user buttons*/
.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}


/* Pop-out Animation */ 
.menu-1QACrS, .emojiPicker-6YCk8a, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY, .container-3u7RcY, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}
@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}



/**/
/*----tema carai----*/

.buttons-3JBrkn>.button-38aScr.noFocus-2C7BQj,
.container-1giJp5 .statusWithPopout-3ZfFol,
.container-1giJp5 .subtext-3CDbHg,
.customText-tY5LJn,
.description-2L932D,
.separator-2I32lJ,
.status-1fhblQ,
.toolbar-1t6TWx>.clickable-3rdHwn:last-of-type,
.tutorialContainer-SGrQ1h~.listItem-2P_4kh,
[href="/store"],
#channel-context-hide-voice-names,
#channel-context-invite-people,
.anchor-3Z-8Bb[href="https\:\/\/support\.discord\.com"] {
	display: none
}

.powercord-spotify {
	padding-bottom: 10px!important;
	border-top: 1px solid #333!important;
	border-bottom: 1px solid #333!important
}

.powercord-spotify img {
	border-radius: 0!important
}

.powercord-spotify .spotify-seek-bar {
	height: 4px!important;
	border-radius: 2px!important;
	margin-left: 15px!important;
	margin-right: 15px!important;
	background: #404040!important
}

.powercord-spotify .spotify-seek-bar-progress {
	background: #b3b3b3!important;
	border-radius: 42px!important
}

.powercord-spotify .container-3baos1 {
	background-color: transparent!important
}

.powercord-spotify .container-3baos1 .nameTag-3uD-yy .title-eS5yk3 {
	color: #fff!important
}

.powercord-spotify .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg {
	color: #b3b3b3!important;
	overflow-x: hidden!important;
	text-indent: -15px!important
}

.powercord-spotify .spotify-buttons button {
	background: 0 0!important
}

.powercord-spotify .spotify-seek-elements,
.powercord-spotify.hover .spotify-seek-elements {
	color: #b3b3b3!important;
	font-size: 70%!important;
	margin-top: 3px!important;
	margin-left: 10px!important;
	margin-right: 10px!important
}

.powercord-spotify .horizontal-1ae9ci * {
	width: 0!important;
	overflow: hidden!important;
	opacity: 0!important;
	display: none!important
}

.powercord-spotify:hover .horizontal-1ae9ci * {
	width: 32px!important;
	overflow: visible!important;
	opacity: 1!important;
	display: block!important
}

.theme-dark,
:root {
	--background-primary: #202020!important;
	--background-secondary: #1d1c1c!important;
	--background-secondary-alt: #161616!important;
	--background-tertiary: #111111!important;
	--background-accent: #141414!important;
	--background-floating: #29292b!important;
	--background-modifier-hover: rgba(255, 255, 255, 0)!important;
	--background-modifier-active: rgba(255, 255, 255, 0.03)!important;
	--background-modifier-selected: rgba(255, 255, 255, 0.04)!important;
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06)!important;
	--channeltextarea-background: var(--background-accent)!important;
	--deprecated-card-bg: rgba(0, 0, 0, 0.2)!important;
	--deprecated-card-editable-bg: rgba(0, 0, 0, 0.1)!important;
	--deprecated-text-input-bg: var(--background-tertiary)!important;
	--deprecated-text-input-border: var(--background-floating)!important;
	--deprecated-text-input-border-disabled: var(--background-tertiary)!important;
	--activity-card-background: var(--background-primary)!important;
	--channels-default: #9f9f9f!important;
	--text-muted: #b6b6b6!important;
	--text-normal: #fbfbfbc9!important;
	--interactive-normal: #c8c8c8!important;
	--interactive-hover: #dcddde!important;
	--interactive-active: #fff!important;
	--interactive-muted: #747474!important;
	--header-primary: white!important;
	--header-secondary: #c9c9c9!important;
	--toast-background: var(--background-primary)!important;
	--toast-header: var(--background-tertiary)!important;
	--toast-contents: var(--background-secondary)!important;
	--toast-box-shadow: rgba(0, 0, 0, 0.2)!important;
	--toast-border: var(--background-tertiary)!important
}

.powercord-product {
	background: var(--background-secondary);
}
.perksModalContentWrapper-2HU6uL {
	background: var(--background-primary);
}

.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix {
  flex-wrap: wrap;
}
.emojiSection-3Fb9ix img ~ div {
  margin-left: 0 !important;
  margin-top: 10px !important;
}
.emojiSection-3Fb9ix img {
  margin: auto;
  min-width: 100%;
  height: auto !important;
}

.theme-dark .body-3iLsc4,
.theme-dark .container-1D34oG,
.theme-dark .footer-1fjuF6,
.theme-light .body-3iLsc4,
.theme-light .container-1D34oG,
.theme-light .footer-1fjuF6 {
	background-color: var(--background-primary)
}

.CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.auto-Ge5KZx::-webkit-scrollbar-thumb,
.contentRegionScroller-26nc1e::-webkit-scrollbar-thumb,
.infoScroller-3EYYns::-webkit-scrollbar-thumb,
.listScroller-2_vlfo::-webkit-scrollbar-thumb,
.phoneFieldScroller-2IJUdK::-webkit-scrollbar-thumb,
.popout-2sKjHu::-webkit-scrollbar-thumb,
.scroller-1IfWg_::-webkit-scrollbar-thumb,
.scroller-2wx7Hm::-webkit-scrollbar-thumb,
.scrollerBase-289Jih::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.sidebarRegionScroller-3MXcoP::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: var(--background-secondary-alt)!important;
	border-color: transparent!important
}

.auto-Ge5KZx::-webkit-scrollbar-track,
.contentRegionScroller-26nc1e::-webkit-scrollbar-track {
	background-color: var(--background-secondary)!important
}

.phoneFieldScroller-2IJUdK::-webkit-scrollbar-track {
	background-color: var(--background-primary)!important
}

.scrollableContainer-2NUZem {
	background-color: var(--channeltextarea-background)!important
}

.scroller-2FKFPG::-webkit-scrollbar-corner {
	background-color: transparent!important
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track {
	background-color: transparent!important;
	border-color: transparent!important
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: var(--background-secondary)!important;
	border: 4px solid var(--background-primary)!important;
	border-radius: 8px!important
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.scrollableContainer-2NUZem::-webkit-scrollbar-corner {
	background-color: transparent!important
}

.scrollableContainer-2NUZem::-webkit-scrollbar-track {
	background-color: transparent!important;
	border-color: transparent!important
}

.scrollableContainer-2NUZem::-webkit-scrollbar-track-piece {
	background-color: transparent
}

.scrollableContainer-2NUZem::-webkit-scrollbar-thumb {
	background-color: var(--background-secondary)!important;
	border-color: transparent!important
}

.userPopout-3XzG_A {
	border-radius: 12px
}

.theme-light .root-1gCeng {
	background: var(--background-primary);
	box-shadow: none
}

.theme-light .footer-2gL1pp {
	background: var(--background-secondary-alt);
	box-shadow: none
}

.lookFilled-1Gx00P.colorGrey-2DXtkV {
	background: var(--background-tertiary)
}

.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
	background: var(--background-primary);
	filter: brightness(120%)
}

.itemContainer-1LSFks {
	border-radius: 24px;
	border: none;
	background: var(--background-tertiary);
	margin-bottom: 12px
}

.templatesList-2E6rTe {
	margin-top: 24px;
	padding: 0 12px 12px 12px;
	height: 330px
}

.platform-win .typeWindows-1za-n7 {
	height: 9px;
	margin-top: 0;
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	background: 0 0
}

.platform-win .winButtonClose-1HsbF- {
	border-top-right-radius: var(--TB-tr-roundness)
}

.platform-win .winButton-iRh8-Z {
	position: relative;
	top: calc(var(--TB-position-top, 0px) - 1px);
	right: var(--TB-position-right, 0);
	height: var(--TB-height, 48px);
	width: var(--TB-width, 40px)
}

.platform-win .winButton-iRh8-Z:not(.winButtonClose-1HsbF-):hover {
	background-color: rgba(255, 255, 255, .1)
}

.platform-win .container-1r6BKw {
	padding-right: var(--TB-header-padding, 125px)
}

.platform-win .wordmarkWindows-1v0lYD {
	display: none
}

.platform-win #app-mount.bd-detached-editor .winButton-iRh8-Z {
	right: 30%
}

.xenoLib-notification-content {
	margin-top: 30px
}

.theme-dark .selectorSelected-1_M1WV,
.theme-light .selectorSelected-1_M1WV {
	background-color: var(--background-modifier-active)
}

.theme-dark .autocomplete-1vrmpx,
.theme-light .autocomplete-1vrmpx {
	background-color: var(--background-secondary)
}

.notice-3bPHh- {
	margin-top: 50px !important;
}

.header-ywPcAE,
.inspector-3LQtX9 {
	background: var(--background-secondary)!important
}

.sidebar-2K8pFh {
	background: var(--background-tertiary)
}

.panels-j1Uci_ {
	border-bottom-left-radius: 7px !important;
}

.mask-1qbNWk.icon-1IxfJ2 {
	height: 11px;
	width: 11px;
	margin-left: 26%;
	margin-bottom: 15%
}

#status-picker.menu-3sdvDG .scroller-3BxosC {
	display: flex
}

#status-picker {
	background: var(--background-secondary);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
	animation: fadeIn 0s ease;
	border-radius: 10px;
	transform: rotate(-90deg);
	position: fixed;
	left: -85px;
	bottom: 145px;
	height: 45px;
	width: 240px
}

#status-picker-custom-status,
#status-picker-dnd,
#status-picker-idle,
#status-picker-invisible,
#status-picker-online {
	border-radius: 30px
}

.container-1giJp5 .flex-1xMQg5 .flex-1O1GKY {
	margin-right: 63px
}

.ping-2NgC8E {
	margin-top: 1.5px;
	margin-left: 75px;
	position: fixed;
	z-index: 1
}

.content-98HsJk {
	background: var(--background-secondary)
}

.panels-j1Uci_>.container-3baos1>.avatarWrapper-2yR4wp {
	position: fixed;
	left: 18px;
	bottom: 10px
}

.container-3baos1 .flex-1xMQg5 {
	position: fixed;
	left: 17px;
	flex-direction: column;
	align-items: center;
	bottom: 55px;
	background: var(--background-secondary-alt);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
	border-radius: 5px;
	opacity: 0 !important;
	transition: 150ms ease;
	pointer-events: none;
	width: 35px !important;
}

.panels-j1Uci_>div:last-child {
	height: 0;
	width: 0
}

.panels-j1Uci_>div:nth-child(1) {
	margin-bottom: -2px
}

.container-3baos1 .avatarWrapper-2yR4wp:hover {
	padding-top: 15px
}

.container-3baos1 .avatarWrapper-2yR4wp:hover~.flex-1xMQg5,
.container-3baos1 .flex-1xMQg5:hover {
	opacity: 1 !important;
	pointer-events: all
}

.main-3auUui {
	background: var(--background-floating) !important;
}

.menu-3sdvDG {
	border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important; 
}

.membersWrap-2h-GB4.hiddenMembers-2dcs_q { display: none; }
@media screen and (min-width: 1100px) {
	.membersWrap-2h-GB4.hiddenMembers-2dcs_q { display: flex; }
}

.container-3baos1 .flex-1xMQg5::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 5px solid transparent;
    border-top-color: var(--background-secondary-alt);
    margin-left: -5px;
}

.avatar-1BDn8e + h2 > span.timestamp-3ZCmNB::before {
    content: var(--epictext);
    color: var(--epictxtcolor);
    background: var(--epic-bg);
    font-size: .8em;
    font-weight: 500;
    height: 2.28em;
    padding: .072rem .275rem;
    border-radius: 6px;
    text-transform: uppercase;
    vertical-align: baseline;
    margin-right: .50rem;
    margin-left: -.25rem;
}

.avatar-1BDn8e[src*="209830981060788225"] + h2 > span.timestamp-3ZCmNB::before {
    --epictext: 'Ajern Dev';
    --epic-bg: var(--background-modifier-accent);
    --epictxtcolor: white;
}

.headerTop-3C2Zn0 {
    min-height: 250px;
    padding: 0;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 {
    left: 0;
    bottom: 0;
    width: 250px;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA {
    height: 250px !important;
    width: 250px !important;
}
.avatarHint-1qgaV3 {width: 100%;height: 100%;border-radius: 0;}
.avatarHintInner-Dco91E {
    font-size: 0.4em;
    text-shadow: 1px 1px 3px black;
}
.headerTop-3C2Zn0 foreignObject {mask: none !important;}
.headerTop-3C2Zn0 rect {
    border-radius: 0;
    x: 0; y: 79;
    width: 80px;
    height: 3px;
    mask: none;
}
.headerText-2sdzFM {padding-bottom: 5px;}

.blockedMessageText-1fRjos:before {
   content: "";
   background: var(--background-secondary);
   border-radius: 10px;
   padding: 3px 0 3px 377px;
   margin: 0 -310px 0 -64px;
}
.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:before {
   padding-bottom: 0;
   border-radius: 10px 10px 0 0;
}
.blockedIcon-IrnkVA > path {
   fill: #F04747;
}
.groupStart-23k01U.expanded-13sWhZ {
   background: var(--background-primary);
   border-radius: 0px !important;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 {
   background: var(--background-secondary);
   padding: 8px 0 8px 72px;
   margin: -5px 4px 0 8px;
   border-radius: 0px 10px 10px 10px;
}
.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:hover:before {
   background: var(--background-secondary);
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6:hover,
.blockedMessageText-1fRjos:hover:before {
   background: var(--background-tertiary);
}
.blockedIcon-IrnkVA {
   margin-top: -2px;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div,
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div > .avatar-1BDn8e {
   margin-left: -8px;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > .buttonContainer-DHceWr {
   margin-right: -3px;
}

.content-3at_AU,  .layout-2DM8Md {
  border-radius: 50px;
}
.wrapper-2aW0bm,.button-1ZiXG9.selected-LCBEAU,.button-1ZiXG9,.powercord-snippet-apply:not(.applied) div:hover,.powercord-snippet-apply div  {
    border-radius: 24px !important;
}

.powercord-spotify .spotify-cover {
    border-radius: 20px !important;
}

.powercord-spotify .avatarWrapper-2yR4wp {
  
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none !important;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Guild icon blur */

.none-2Eo-qx > div[data-ref-id="guildsnav"] .listItem-2P_4kh {
  filter: blur(3px)
}

.none-2Eo-qx > div[data-ref-id="guildsnav"] .listItem-2P_4kh:hover {
  filter: blur(0);
  transition: filter .5s
}

/* Blured Email */

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7+div .selectable-2GY4I1 {
    filter: blur(5px);
    transition: filter 0.5s;
}

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7+div .selectable-2GY4I1:hover {
    filter: blur(0);
}
.section-2gLsgF {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    background-color: #2f2f2f;
}
.header-1TKi98 {
    background-color: #2f2f2f;
}
.theme-dark .footer-1FPmkC {
    background-color: #2f2f2f;
}
.scroller-2hZ97C {
    background-color: #1f1f1f;
}
.input-2VB9rf {
    background-color: #3f3f3f;
}
.content-1LAB8Z {
    background-color: #2f2f2f;
}
.theme-dark .footer-2gL1pp {
    background-color: #1f1f1f;
}
.footer-1eyGBa {
    background-color: #3f3f3f;
}
.theme-dark .friendSelected-1sa4bG {
    background-color: #4f4f4f;
}
.friend-3KALPe {
    border-radius: 6px;
    background-color: #2f2f2f;
}
.noResults-ZTbl5V, .scroller-hUf6zQ {
    background-color: #1f1f1f;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K {
    background-color: #2f2f2f;
}
.theme-dark .footer-3mqk7D {
    background-color: #1f1f1f;
}
.uploadModal-2ifh8j .inner-3nWsbo {
    background-color: #2f2f2f;
    margin: 0px;
}
.colorHeaderPrimary-26Jzh- {
    color: #fff;
}
.colorHeaderSecondary-3Sp3Ft {
    color: #d4d3d3;
}
.container-UC8Ug1 {
    background-color: #262626;
}
.colorStandard-2KCXvj {
    color: #d4d3d3;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background: #272727;
}
.scroller-1d5FgU {
    background-color: #3b3b3b;
}

/* Colour The Channel Emblems */
/* var(--interactive-muted); For Default */
:root {
  --hashtag-colour: var(--interactive-muted);
  --announcement-colour:rgb(88, 101, 242);
  --rules-colour: #5865F2;
  --stages-colour: #5865F2;
  --voice-colour:  rgba(88, 101, 242, 0.596);
  --locked-colour:  #5865F2;
}
[d="M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z"], [d="M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z"]{
  fill:var(--hashtag-colour);
}
[d="M33 34.5833V7.49998H35V36.6666H9C6.791 36.6666 5 34.801 5 32.5V7.49998C5 5.19894 6.791 3.33331 9 3.33331H31V30.4166H9C7.8955 30.4166 7 31.3485 7 32.5C7 33.6515 7.8955 34.5833 9 34.5833H33ZM23.9718 9.99998L15.8889 17.9915L12.7086 14.8441L10 17.5058L15.8885 23.3333L26.6667 12.6669L23.9718 9.99998Z"]{
    fill:var(--rules-colour);
  }
[d="M19.1 4V5.12659L4.85 8.26447V18.1176C4.85 18.5496 5.1464 18.9252 5.5701 19.0315L9.3701 19.9727C9.4461 19.9906 9.524 20 9.6 20C9.89545 20 10.1776 19.8635 10.36 19.6235L12.7065 16.5242L19.1 17.9304V19.0588H21V4H19.1ZM9.2181 17.9944L6.75 17.3826V15.2113L10.6706 16.0753L9.2181 17.9944Z"], [d="M3.9 8.26H2V15.2941H3.9V8.26Z"], [d="M22.545 4.87988V5.87988H23.28C23.4126 5.87988 23.52 5.98733 23.52 6.11988V10.6399C23.52 10.7724 23.4126 10.8799 23.28 10.8799H17.76C17.6275 10.8799 17.52 10.7724 17.52 10.6399V6.11988C17.52 5.98733 17.6275 5.87988 17.76 5.87988H18.52V4.87988C18.52 3.75988 19.47 2.87988 20.52 2.87988C21.57 2.87988 22.545 3.75988 22.545 4.87988ZM19.52 5.87988H21.52V4.87988C21.52 4.30845 21.0534 3.87988 20.52 3.87988C19.9867 3.87988 19.52 4.30845 19.52 4.87988V5.87988Z"], [d="M4.85 8.26429L15.84 5.84426V10.5599C15.84 11.6202 16.6996 12.4799 17.76 12.4799H21V19.0586H19.1V17.9302L12.7065 16.524L10.36 19.6233C10.1776 19.8633 9.89545 19.9998 9.6 19.9998C9.524 19.9998 9.4461 19.9904 9.3701 19.9725L5.5701 19.0313C5.1464 18.925 4.85 18.5495 4.85 18.1175V8.26429ZM9.2181 17.9942L6.75 17.3824V15.2111L10.6706 16.0751L9.2181 17.9942Z"], [d="M3.9 8.25981H2V15.2939H3.9V8.25981Z"] {
  fill:var(--announcement-colour);
}
[d="M12 2C5.93 2 1 6.93 1 13C1 15 1.55 16.88 2.48 18.49L3.77 17.74C2.97 16.35 2.5 14.73 2.5 13C2.5 7.75 6.75 3.5 12 3.5C17.25 3.5 21.5 7.75 21.5 13H23C23 6.93 18.07 2 12 2ZM5.5 13C5.5 9.42 8.42 6.5 12 6.5C15.58 6.5 18.5 9.42 18.5 13H17C17 10.24 14.76 8 12 8C9.24 8 7 10.24 7 13C7 13.91 7.26 14.75 7.69 15.49L6.38 16.25C5.82 15.29 5.5 14.18 5.5 13ZM12 15C13.1046 15 14 14.1046 14 13C14 11.8954 13.1046 11 12 11C10.8954 11 10 11.8954 10 13C10 14.1046 10.8954 15 12 15ZM12 16.5C9.94 16.5 8.5 17.8 8.5 19.5V20H13V16.62C12.69 16.55 12.36 16.5 12 16.5ZM17 15H22C23.1 15 24 15.9 24 17V22C24 23.1 23.1 24 22 24H17C15.9 24 15 23.1 15 22V17C15 15.9 15.9 15 17 15ZM17 22H22V21H17V22ZM17 20H22V19H17V20ZM17 18H22V17H17V18Z"], [d="M15 2.41495C14.0462 2.14467 13.0398 2 12 2C5.93 2 1 6.93 1 13C1 15 1.55 16.88 2.48 18.49L3.77 17.74C2.97 16.35 2.5 14.73 2.5 13C2.5 7.75 6.75 3.5 12 3.5C13.0485 3.5 14.0571 3.66952 15 3.98267V2.41495Z"], [d="M21.0173 10C21.3305 10.9429 21.5 11.9515 21.5 13C21.5 14.73 21.03 16.35 20.22 17.75L21.51 18.5C22.45 16.88 23 15 23 13C23 11.9602 22.8553 10.9538 22.585 10H21.0173Z"], [d="M14 13C14 14.1 13.1 15 12 15C10.9 15 10 14.1 10 13C10 11.9 10.9 11 12 11C13.1 11 14 11.9 14 13Z"], [d="M8.5 19.5V20H15.5V19.5C15.5 17.8 14.06 16.5 12 16.5C9.94 16.5 8.5 17.8 8.5 19.5Z"], [d="M7 13C7 10.24 9.24 8 12 8C14.76 8 17 10.24 17 13C17 13.91 16.74 14.75 16.31 15.49L17.62 16.25C18.17 15.29 18.5 14.19 18.5 13C18.5 9.42 15.58 6.5 12 6.5C8.42 6.5 5.5 9.42 5.5 13C5.5 14.18 5.82 15.29 6.38 16.25L7.69 15.49C7.26 14.75 7 13.91 7 13Z"]{
  fill:var(--stages-colour);
}
[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"], [d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"]{
  fill:var(--voice-colour);
}
[d="M17 11V7C17 4.243 14.756 2 12 2C9.242 2 7 4.243 7 7V11C5.897 11 5 11.896 5 13V20C5 21.103 5.897 22 7 22H17C18.103 22 19 21.103 19 20V13C19 11.896 18.103 11 17 11ZM12 18C11.172 18 10.5 17.328 10.5 16.5C10.5 15.672 11.172 15 12 15C12.828 15 13.5 15.672 13.5 16.5C13.5 17.328 12.828 18 12 18ZM15 11H9V7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V11Z"]{
  fill:var(--locked-colour);
}
/* custom icons */
@import url("https://stickfab.github.io/pc-fluenticons/FluentIcons.css");
