/* custom icons */
@import url("https://stickfab.github.io/pc-fluenticons/FluentIcons.css");

/* Centered User Popout (mr_miner's snippet helped with this) */
.headerTop-3GPUSF, .rolesList-3uZoaa, .headerTextNormal-2mGWX3, .customStatus-oN4ZZY, .aboutMeTitle-3pjiS7,
.text-3j8t_e > *,.nameTag-2Nlmsy > * {
  display: flex;
  justify-content: center;
  text-align: center;
}
.avatarWrapperNormal-ahVUaC {
  position: absolute;
  left: 33%;
}
.avatar-3QF_VA {
  position:absolute;
  left:30%;
}
.avatar-3QF_VA {
  position:absolute;
  left:38%;
}
.profileBadges-2pItdR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  transform: translateY(-8px);
  position: absolute;
  transform: translate(-250px);
}
.badgeList-2aoHPw {
  display:flex;
  flex-direction:column;
  max-height:200px;
  transform:translate(-150px);
}
.tabBarContainer-sCZC4w {
  align-items:center;
  display:flex;
  justify-content:center;
}
.userPopout-xaxa6l .input-cIJ7To, .userInfoSection-2u2hir > *, .aboutMeSection-PUghFQ, .customStatus-kFfkj5, .bodyTitle-2Az3VQ, .textarea-_59yqs, .marginBottom8-AtZOdT.size14-e6ZScH{
  text-align: center;
}

/*hover memberlist*/
.membersWrap-3NUR2t {min-width: unset;}
.members-3WRCEx {max-width: 65px;min-width: 65px;transition: 0.4s ease;}
.members-3WRCEx:hover {max-width: 240px;min-width: 240px;}
div:not(:hover)>.members-3WRCEx>div {padding-top: 10px;}


/* #css-snippet CSS Store */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/storeCSS.css);


/* Rounded Context Menu */
.menu-1QACrS, .colorDefault-CDqZdO { 
    border-radius: 15px; 
}


/*widescreen settings*/
.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
    justify-content: unset;
    flex: unset
}
.contentColumn-1C7as6, .customColumn-2n-oKU, .hero-1aNo0v {
    max-width: unset;
}
.accountProfileCard-lbN7n- {
    max-width: 750px;
}
.notificationSettings-1U0JsJ {
    max-width: 45%;
}


/*hide user buttons*/
.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}


/* Pop-out Animation */ 
.menu-1QACrS, .emojiPicker-6YCk8a, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY, .container-3u7RcY, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}
@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}


